<%= form_with(model: @game, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :host_id %>

    <%= f.collection_select :host_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>

    <%= f.date_select :time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :max_attendees %>

    <%= f.text_field :max_attendees, class: "form-control" %>
  </div>

  <%= f.hidden_field :game_category_id, value: @game_category.id %>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <%= f.submit "Create game", class: "btn btn-block btn-outline-secondary" %>
<% end %>
