<%= form_with(model: @attendee, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :game_id %>

    <%= f.collection_select :game_id, Game.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :player_id, value: @user.id %>

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
