<% was_validated = attendee.errors.any? %>

<%= form_with(model: attendee, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% game_class = "form-control" %>
    <% game_was_invalid = attendee.errors.include?(:game) %>

    <% if was_validated %>
      <% if game_was_invalid %>
        <% game_class << " is-invalid" %>
      <% else %>
        <% game_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :game_id %>
    <%= f.collection_select :game_id, Game.all, :id, :to_s, {}, class: "form-control" %>
    <% if game_was_invalid %>
      <% attendee.errors.full_messages_for(:game).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% player_class = "form-control" %>
    <% player_was_invalid = attendee.errors.include?(:player) %>

    <% if was_validated %>
      <% if player_was_invalid %>
        <% player_class << " is-invalid" %>
      <% else %>
        <% player_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :player_id %>
    <%= f.collection_select :player_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if player_was_invalid %>
      <% attendee.errors.full_messages_for(:player).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
