<% was_validated = game.errors.any? %>

<%= form_with(model: game, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% host_class = "form-control" %>
    <% host_was_invalid = game.errors.include?(:host) %>

    <% if was_validated %>
      <% if host_was_invalid %>
        <% host_class << " is-invalid" %>
      <% else %>
        <% host_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :host_id %>
    <%= f.collection_select :host_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if host_was_invalid %>
      <% game.errors.full_messages_for(:host).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = game.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% game.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% date_class = "form-control" %>
    <% date_was_invalid = game.errors.include?(:date) %>

    <% if was_validated %>
      <% if date_was_invalid %>
        <% date_class << " is-invalid" %>
      <% else %>
        <% date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :date %>
    <%= f.date_select :date, class: date_class, placeholder: "Enter date" %>
    <% if date_was_invalid %>
      <% game.errors.full_messages_for(:date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% time_class = "form-control" %>
    <% time_was_invalid = game.errors.include?(:time) %>

    <% if was_validated %>
      <% if time_was_invalid %>
        <% time_class << " is-invalid" %>
      <% else %>
        <% time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :time %>
    <%= f.time_select :time, class: time_class, placeholder: "Enter time" %>
    <% if time_was_invalid %>
      <% game.errors.full_messages_for(:time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% max_attendee_class = "form-control" %>
    <% max_attendee_was_invalid = game.errors.include?(:max_attendee) %>

    <% if was_validated %>
      <% if max_attendee_was_invalid %>
        <% max_attendee_class << " is-invalid" %>
      <% else %>
        <% max_attendee_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :max_attendees %>
    <%= f.text_field :max_attendees, class: max_attendee_class, placeholder: "Enter max attendee" %>
    <% if max_attendee_was_invalid %>
      <% game.errors.full_messages_for(:max_attendee).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% game_category_class = "form-control" %>
    <% game_category_was_invalid = game.errors.include?(:game_category) %>

    <% if was_validated %>
      <% if game_category_was_invalid %>
        <% game_category_class << " is-invalid" %>
      <% else %>
        <% game_category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :game_category_id %>
    <%= f.collection_select :game_category_id, GameCategory.all, :id, :to_s, {}, class: "form-control" %>
    <% if game_category_was_invalid %>
      <% game.errors.full_messages_for(:game_category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% loction_class = "form-control" %>
    <% loction_was_invalid = game.errors.include?(:loction) %>

    <% if was_validated %>
      <% if loction_was_invalid %>
        <% loction_class << " is-invalid" %>
      <% else %>
        <% loction_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :loction %>
    <%= f.text_field :loction, class: loction_class, placeholder: "Enter loction" %>
    <% if loction_was_invalid %>
      <% game.errors.full_messages_for(:loction).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
