<%= form_with(model: @attendee, local: true) do |f| %>

  <%= f.hidden_field :game_id, value: @game.id %>

  <div class="form-group">
    <%= f.label :player_id %>

    <%= f.collection_select :player_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create attendee", class: "btn btn-block btn-outline-secondary" %>
<% end %>
